*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
	color: #fff;
	width: 100%;
    height: 80%;
    font-family: 'Hind', sans-serif;
}

.div_quote{
    width: auto;
    float: left;
}

.div_img{
    float: right;
    width: auto;
}

div img{
    height: 100%;
}

h1{
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: left;
    color:red;
    font-style: italic;
    width: 100%;
}

p{
    font-size: 1.5rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: left;
    color:white;
    font-style: italic;
    width: 45%;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #fff;
    margin: 0.25rem;
    background-color: red;
    cursor: pointer;
}

button:hover{
    opacity: 0.7;
}